// --------------------------------
// ICONS
// --------------------------------

.icon-facebook {
    width: 30px;
    height: 30px;
    background: url(../img/facebook.png) no-repeat;
    display: block;
    background-size: cover;
}
